<h1>Children</h1>

<% @children.each do |child| %>
  <li>
  <%= link_to child.name, child_path(child) %>
  <%= link_to 'edit', edit_account_child_path(child) %>
  <%= link_to 'delete', account_child_path(child), method: :delete %>
  </li>
<% end %>


