<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 padded ">
      <h2>Add Review</h2>


      <%= render 'form', review: @review, url: account_child_reviews_path(@child), method: :post %>


    </div>
  </div>
</div>
