<h1>Children</h1>

<h2><%= link_to 'create a new child', new_account_child_path %></h2>

<% @children.each do |child| %>
  <% if child.active %>
    <li>
    <%= link_to child.name, account_child_path(child) %>
    </li>
  <% end %>
<% end %>


