.banner {
  background-image: url('https://hd.unsplash.com/photo-1456962059735-289abeaff21c');
  height: 73vh;
  background-size: cover;
  background-position: center;
  position: relative;
}


/* <---------------- Navbar into banner bottom ---------------->*/
.nvb {
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* Optional class to fix the nvb on top */
.nvb-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* nvb logo */
.nvb-brand img {
  width: 40px;
}

/* nvb right section (with form, links, button) */
.nvb-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* nvb item */
.nvb-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* nvb standard link */
.nvb-link {
  color: #616668;
  font-size: 14px;
}
.nvb-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* nvb right button */
.nvb-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.nvb-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* nvb search form */
.nvb-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.nvb-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.nvb-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;

  font-size: 14px;
  outline: none;
}
.nvb-search-input:focus  {
  border: 1px solid #CCCCCC;
}

/* nvb dropdown menu */
.nvb-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.nvb-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  transition: padding-left 0.3s ease;
}

.nvb-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
  padding-left: 25px;
  transition: padding-left 0.3s ease;
}

.nvb-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.dropdown i {
  color: white;
}

/* <---------------- Searchfield banner bottom ---------------->*/

.banner > .search-field {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom: 0;
  padding: 30px 0;
}

.banner > .search-field p {
  color: white;
  text-align: center;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 34px;
}

/* <----------------banner content ---------------->*/

.banner-content {
  margin-top: 85px;
  color: white;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.banner-content h1 {
  margin-top: 0;
  font-size: 60px;

}

.banner-content p {
  margin-bottom: 0;
  font-size: 18px;
}


/* <----------------settings form bootstrap ---------------->*/

.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}


/* <----------------settings col bootstrap ---------------->*/
.col-sm-2 {
  padding: 0;
}

.col-sm-5 {
  padding: 0;
}

.col-sm-3 {
  padding: 0;
}

.col-xs-1 {
  padding-right: 0;
}

.col-xs-7 {
  padding-right: 0;
}

.col-xs-4 {
  padding-left: 0;
}























