.btn-medium {
  color: #463346;
  border: 1px solid #463346;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-medium-2 {
  color: white;
  border: 0px solid white;
  padding: 10px 20px 10px 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.btn-medium-2:hover {
  color: white;
  text-decoration: none;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-rectangle {
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 0 20px;
}

.btn-rectangle:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-rectangle-navbar {
  color: #484848;
  border-right: 1px solid #DCE0E0;
  padding: 18px;
  padding-top: 19px;
  margin: 0px 33px;
  margin-left: 0;
  border-left: 0;

}

.btn-rectangle-navbar:hover {
  background-color: #efefef;
}

.small-button {
  text-align: center;
  margin-top: 10px;
}

.small-button .btn {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.btn-rectangle {
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 0 20px;
}

.btn-rectangle:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-medium-white {
  color: white;
  border: 0px solid white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.btn-medium-white:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn-medium-black {
  color: rgba(0, 0, 0, 0.5);
  border: 0px solid white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.btn-medium-white:hover {
  color: white;
  text-decoration: none;
}

.btn-search {
  color: #484848;
  background-color: white;
  border-radius: 5px;
  padding: 5px 0;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}











